VITE_CASTLE_APP_ID=castle-8cb15
VITE_FIREBASE_FUNCTIONS_REGION=europe-west3
VITE_FIREBASE_API_KEY=your-firebase-api-key
VITE_FIREBASE_AUTH_DOMAIN=castle-8cb15.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=castle-8cb15
VITE_FIREBASE_STORAGE_BUCKET=castle-8cb15.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=your-firebase-messaging-sender-id
VITE_FIREBASE_APP_ID=your-firebase-app-id
VITE_FIREBASE_MEASUREMENT_ID=your-firebase-measurement-id
