VITE_APP_ID=castle-genesis
VITE_CODEX_DATE=2025-07-12
VITE_FIREBASE_CONFIG={"apiKey":"AIzaSyC5HDBeYGoEfFQW9SDIpCKqmxqNP66fcQE","authDomain":"castle-genesis.firebaseapp.com","databaseURL":"https://castle-genesis-default-rtdb.firebaseio.com","projectId":"castle-genesis","storageBucket":"castle-genesis.firebasestorage.app","messagingSenderId":"249221773705","appId":"1:249221773705:web:5b29fb17e0c1746a968958","measurementId":"G-JS2YX02B12"}
FIREBASE_TOKEN=
